.Main-chat
  .Main-header
    .Main-header__group-info
      %p.Main-header__group-info__name test
      %ul.Main-header__group-info__member-list
        %a Member :
        %li.Main-header__group-info__member masa
    = link_to "#", class: "Main-header__edit-btn" do
      Edit
  .Messages
    .Message
      .Message__header
        %p.Message__header__name masa
        %p.Message__header__date-time 2019/11/20(Wed) 17:43:01
      %p.Message__text おはよう！
    .Message
      .Message__header
        %p.Message__header__name masa
        %p.Message__header__date-time 2019/11/20(Wed) 17:43:34
      %p.Message__text 今日は夜から雨
  .Form
    %form.New-message
      .Input-box
        %input.Input-box__text{type: "text", placeholder: "Type a message" }
        %label{class: "Input-box__image"}
          = icon('fas', 'image')
          %input.Input-box__file{type: "file"}
      %input.New-message__submit-btn{type: "submit", value: "Send"}