.Side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  &__user-name{
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    overflow: scroll;
  }
}
.Top-items{
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__user-name{
    color: #ffffff;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
  }
  &__icons{
    height: 100%;
    width: 60px;
    text-align: right;
    
    &--edit{
      color: #ffffff;
      text-decoration: none;
    }
    &--config{
      color: #ffffff;
      margin-left: 5px;
    }
  }
}
.Group{
  width: 300px;
  padding: 20px 20px 40px 20px;
  font-weight: bold;
  &__name{
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  &__message{
    font-size: 11px;
    color: #ffffff;
  }
}